body, html {
  color: $gray-dark;
  background: image-url('bk_body.jpg');
  font-size: 13px;
  font-weight: normal;
  line-height: 1.5;
}

.bio {
  img {
    float: left;
    margin: 0 10px 10px 0;
  }
}

#carousel {
  @include box-shadow(0 50px 50px -40px black);
  margin: 0 auto 50px auto;
  img {
    /* @extend .container; padding: 0; */
    @media (min-width: $screen-sm-min) {
      width: $container-sm;
    }
    @media (min-width: $screen-md-min) {
      width: $container-md;
    }
    @media (min-width: $screen-lg-min) {
      width: $container-lg;
    }
  }
}

#wrapper {
  @media (min-width: $screen-sm-min) {
    background: image-url('bk_main_wrapper.png') 0 0 repeat-x;
    body#home & {
      background: image-url('bk_main_wrapper_home.png') 0 0 repeat-x;
    }
    .navbar-inverse {
      background-color: transparent;
    }
    .nav.navbar-nav {
      .dropdown-toggle .caret {
        display: none;  /* hide dropdown caret */
      }
    }
  }
}
#header {
  @media screen and (min-width: $screen-sm-min) {
    background: image-url('bk_header.png') 0 0 no-repeat;
    border-bottom: 0;
    height: 190px;
    position: relative;
    ul.nav > li > a {
      background: image-url('bk_mainmenu.png') 0 -78px no-repeat;
      display: block;
      height: 85px;
      color: #ccc;
      font-size: 17px;
      padding: 36px 18px 0;
    }
    ul.nav > li > a span {
      font-size:10px;
      color: #999;
      line-height: 120%;
    }
    ul.nav > li > a:hover {
      text-decoration: none;
      background: image-url('bk_mainmenu.png') 0 0 repeat-x;
      color: #96DDFC;
    }
  }
}
#menu {
  ul.dropdown-menu {
    margin-top: -1px;
    padding: 0;
    > li {
      background: #091011;
      padding: 0;
    }
    > li > a {
      border-bottom: 1px solid #333;
      color: #ccc;
      font-size: 13px;
      line-height: 100%;
      margin: 0;
      padding: 12px 0 12px 16px;
      text-transform: none;
      height: 1%;
      width: 168px;
      &:hover {
        background: #132325;
        color: #1fa2e1;
      }
    }
  }
}

$search-width: 130px;
$search-width-focus: 175px;
$search-text: #a8a8a8;
$search-border: #2E4849;

#search {
  input[type="submit"] {
    display: none;
  }
  @media (min-width: $screen-sm-min) {
    margin: 30px 0 0 0;
    position: relative;
    input[type="text"] {
      @include border-radius($border-radius-base);
      @include transition(width 0.5s ease);
      background: image-url('bk_top_search.png') 0 0 repeat-x;
      border: 1px solid $search-border;
      color: $search-text;
      font-style: italic;
      padding: 10px;
      width: $search-width;
      &:active,
      &:focus {
        width: $search-width-focus;
      }
    }
    input[type="submit"] {
      background: image-url('but_search.png') 0 0 no-repeat;
      border: none;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 44px;
      width: 43px;
      z-index:100;
    }
  }
}

#alt-logo {
  // Should have class .navbar-toggle to show when resolution is below $grid-float-breakpoint
  @extend h1;
  float: left;
  margin: 10px 0 0 30px;
}
#logo-header {
  display: none;
  padding: 0 15px;
  @media (min-width: $grid-float-breakpoint) {
    display: block;
  }
}
#logo {
  margin-top: 15px;
}
#subtitle {
  clear: both;
  color: #666666;
  font-size: 11px;
  margin-top: 0;
  text-transform: uppercase;
}
#top-social {
  margin-top: 40px;
  ul > li {
    float: left;
    margin-left: 10px;
    padding: 0 5px;
    width: 50px;
  }
  ul > li > a {
    display: block;
    height: 47px;
    width: 47px;
    background: image-url('bk_topsocial.png') 0 0 no-repeat;
    &:hover {
      background: none;
    }
  }
  ul > li > a > img {
    border: none;
    margin-top: 9px;
    margin-left: 8px;
  }
}
#home-boxes .home-box {
  img {
    border: 6px solid #e2e2e2;
    background: white;
    padding: 1px;
  }
}

#content {
  background: image-url('bk_vertline.jpg') 100% 0 repeat-y;
  min-height: 250px;
  padding-right: 25px;
}

#sidebar {
  padding-left: 25px;
}

$footer-bg: black;
$footer-color: #666;
$footer-border-color: #292929;

#footer {
  background: black image-url('bk_footer_widgets.png') 0 0 repeat-x;
  color: #666;
  font-size: 12px;
  padding-top: 32px;
  #inner-footer {
    padding: 20px 0 35px;
    overflow: hidden;
  }
  #copyright {
    @include clearfix();
    border-top: 4px solid #090e0f;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 25px;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  h2 {
    border-bottom: 1px solid $footer-border-color;
    color: #ccc;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 7px 0 12px;
  }
  .footer-box {
    margin-bottom: 40px;
  }
  .footer-box ul li {
    padding: 7px 0;
    border-bottom: 1px solid $footer-border-color;
    color: #986123;
    font-size: 10px;
    font-style: italic;
  }
  .footer-box ul li a {
    text-decoration: none;
    color: #515151;
    font-size:13px;
    font-style:normal;
    &:hover {
      color: #ccc;
    }
  }
}










