<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<!-- Darkbox -->
{% unless page.reveal %}
<link href="{{ root_url }}/stylesheets/darkbox.min.css" media="screen, projection" rel="stylesheet" type="text/css">
<script src="{{ root_url }}/javascripts/darkbox.min.js"></script>
{% endunless %}
<!-- Reveal -->
{% if page.reveal %}
<link rel="stylesheet" href="{{ root_url }}/stylesheets/reveal.min.css">
<link rel="stylesheet" href="{{ root_url }}/stylesheets/theme/default.css" id="theme">
<script src="{{ root_url }}/javascripts/libs/head.min.js"></script>
<script src="{{ root_url }}/javascripts/reveal.min.js"></script>
{% endif %}