<div id="logo" class="pull-left">
  <img src="/images/banner.png" alt="VietnamVAC logo" />
  {% if site.subtitle %}
    <div id="subtitle">{{ site.subtitle }}</div>
  {% endif %}
</div>
<div id="top-social" class="pull-right">
  <ul>
    <li><a href="http://www.facebook.com/groups/149650161734418/" class="twitter" title="Join Us on Facebook!"><img src="/images/ico_facebook.png" alt="Join Us on Facebook!"></a></li>
    <li><a href="http://vietnamvac.org/atom.xml" title="Atom" class="rss"><img src="/images/ico_rss.png" alt="Subcribe to Our Atom Feed"></a></li>
  </ul>
</div>