<div class="col-md-4">
  <h2>Vietnam trip, 2014</h2>
  <p><img src="http://vietnamvac.isamonkey.org/gallery/main/vietnam-2014-300x132.jpg" alt="" width="300" height="132" /></p>
  <p>We have just returned from Vietnam again on a most exciting trip.  We all had a wonderful time and formed new friendships while working hard in the operating room.  We also have happy news to share with you all.  Please follow the link to read more.</p>
  <p><a href="/events/gallery/vietnam-2014"><strong>Read more</strong></a></p>
</div>

<div class="col-md-4">
  <h2>2013 Boston Benefit Concert</h2>
  <p><img src="http://vietnamvac.isamonkey.org/gallery/main/boston-2013-300x132.jpg" alt="" width="300" height="132" /></p>
  <p>Our 2013 Benefit Concert was held on Sunday, December 15, in Boston's beautiful Back Bay. We are grateful to everyone for your help and support. Please follow the link to see the photos from the event.<br />
<!--  Our 2013 Benefit Concert will be held on Sunday, December 15, at the Goethe-Institut, with 100% of the proceeds to benefit our work with children.  We hope to see you there!--><!--Please save the date for the 3rd annual Vietnam VAC benefit concert on Saturday, December 1 at the Goethe Institut Boston. We promise another exciting evening with 100% of the proceeds to benefit the children.  We've uploaded the photos from our 2012 benefit concert at the Goethe Institut in Boston.  Please follow the link to view.
-->
  <p><a href="/events/gallery/boston-2013"><strong>Read more</strong></a></p>
</div>

<div class="col-md-4">
<h2>International Fundraiser</h2>
<p>Thanh Nga is giving a talk at the Massachusetts Medical Society International Dinner (also a fundraiser for our clinic) about the activities of Vietnam VAC. We would love your presence and support.</p>
<p>Saturday, March 29, 2014, 4-6 pm<br />
Aegean Restaurant, 257 Cochituate Road, Framingham, MA<br />
Cost: $30/adults or $10/children<br />
Contact Jill Cricones, (781) 434-7372,  jcricones at mms.org</p>
</div>
