<div id="home-boxes">
  <div class="col-md-4 home-box">
    <h2>2015 Vietnam trip</h2>
    <p><img src="http://vietnamvac.isamonkey.org/gallery/main/vietnam-2015-300x132.jpg" alt="" width="300" height="132" /></p>
    <p>We had a memorable trip to Vietnam in 2015.  These are glimpses into the day-to-day activity of the clinic, powerfully documented by our photographer and friend.</p>
    <p><a href="/media/vietnam-2015"><strong>Read more »</strong></a></p>
  </div>

  <div class="col-md-4 home-box">
    <h2>Before & After </h2>
    <p><img src="http://vietnamvac.isamonkey.org/gallery/main/before-after-2014-300x132.jpg" alt="" width="300" height="132" /></p>
    <p>Patients--primarily children--visit our clinic from all over the south of Vietnam. We've put together a presentation showing the sometimes-startling results of modern treatment. While results vary, our goal is to improve the quality of life for all of our patients.</p>
    <p><a href="/media/before-after-2014" target="_blank"><strong>Read more »</strong></a></p>
  </div>

  <div class="col-md-4 home-box">
    <h2>2014 Boston Concert</h2>
    <p><img src="http://vietnamvac.isamonkey.org/gallery/main/boston-2014-300x132.jpg" alt="" width="300" height="132" /></p>
    <p>
    Our <strong>5th</strong> annual benefit concert was held at the Goethe Institut, Boston on December 7th.  Thank you for your support. Please view photos from the event below. 
    </p>
    <p><a href="/media/boston-2014"><strong>Read more »</strong></a></p>
  </div>
</div>