<ul id="mainMenu" class="main-navigation ddsmoothmenu">
  <li class="menu-item"><a href="{{ root_url }}/">Home</a></li>
  <li class="menu-item"><a href="{{ root_url }}/blog">News</a></li>
  <li class="menu-item"><a href="{{ root_url }}/events">Events</a></li>
  <li class="menu-item"><a href="{{ root_url }}/donate">Donate</a></li>
  <li class="menu-item"><a href="{{ root_url }}/about">About Us</a></li>
  <li><a href="{{ root_url }}/contact">Contact Us</a></li>
  <!-- <li><a href="{{ root_url }}/blog/archives">Archives</a></li> -->
</ul>
